:root {
  --color-light: #f1f5f9;
  --color-night: #001632;
  --color-blue: #1a73e8;
  --color-grayish: #dadce0;

  --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.9),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
img{
  width: 45px;
}
span{
  color: var(--color-blue);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a{
  color: var(--color-blue);
}
.logo-facebook {
  position: relative;
  left: 20%;
  top: 34px;
  font-size: 1.5rem;
  line-height: inherit;
  color: var(--color-blue);
}
.logo-google {
  position: relative;
  left: 20%;
  top: 34px;
  font-size: 1.5rem;
  line-height: inherit;
  text-decoration: none;
}
.logo-apple {
  position: relative;
  left: 20%;
  top: 34px;
  font-size: 1.5rem;
  line-height: inherit;
}

.text {
  font-family: inherit;
  line-height: inherit;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
.text-large {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
.text-normal {
  color: black;
}
.text-links {
  color: var(--color-blue);
}
.text-links:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 30rem;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: black;
  background-color: white;
  box-shadow: var(--shadow-large);
}
.form {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: var(--color-light);
  text-rendering: optimizeLegibility;
}

.input-submit {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  min-width: 40%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  background: var(--color-blue);
  box-shadow: var(--shadow-medium);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.striped {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.striped .striped-line {
  background-color: var(--color-grayish);
  width: 100%;
  height: 1.5px;
  margin: 0 10px;
}
.method .method-control span {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px;
  border: 2px solid var(--color-grayish);
  border-radius: 32px;
  color: black;
  text-transform: capitalize;
}
